.Header{
    grid-column:1/-1;
    grid-row: 1/2;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: transparent;
  
    
}
.search-bar i{
    position: absolute;
    top: 45%;
    left: 4%;
    color: #9F9F9F;
    font-size: 18px;

}
.search-bar input{
    width: 604px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(65, 65, 65, 0.1);
    outline: none;
    border: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #9F9F9F;
    padding-left: 50px;

}
.notification-profile{
    display: flex;
    height: 70px;
    gap: 10px;
}
.notification{
  
    text-align: center;
    align-items: center;
    justify-content: center;
    border-left: 1.5px solid #DDDDDD;
    border-right: 1.5px solid #DDDDDD;
    height: 60px;
    padding: 5px;

}
 .noty{
    position: absolute;
    top: 4.7%;
    left: 76.5%;
 }
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;

}
.profile img{
    height: 60px;
}
.profile div{
    align-items: center;
    justify-content: center;
    display: block;
    text-align: left;
}
.profile div p {
    margin: 0%;

}
.name{
    font-family: 'Mulish';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;
color: #3D3D3D;
}
.x{
    font-family: 'Mulish';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #3D3D3D;
}
.Header-title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #262626;

}