::-webkit-scrollbar{
    display: none;
}
.side-bar{
    position: absolute;
    width: 269px;
    height: 902px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 5px 5px 4px rgba(65, 65, 65, 0.1);
    justify-content: center;
    align-items: left;
    text-align:left ;
    padding-top: 40px;
    overflow:auto;
    padding-right: 15px;
   
}
.side-bar-logo img{
    width: 145px;
    height: 43px;
  
}
.side-bar-logo{
    justify-content: center;
    text-align:left;
    margin-bottom: 40px;
    margin-left: 45px;
}

.Sidebaritem {
    display:block;
    color: #545454;

    margin-left: 10px;
    
}
.sidebaritem-plain{
    display:flex;
    color: #545454;
    align-items: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #545454;
    margin-left:40px;
    margin-bottom: 35px;
    text-decoration: none;
    cursor: pointer;
}

.sidebaritem-plain i {
    display: inline-block;
    width: 2em;
    
}

.sidebar-title{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #545454;
    margin-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;

    

}
.sidebar-title span i{
    display: inline-block;
    width: 2em;
}


.sidebar-title .toggle-btn{
    margin-left: 30px;
    cursor: pointer;
    transition: transform 0.3s;
}
.content{
    margin-top: 0;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #414141;
    cursor: pointer;
    height:0;
    overflow:hidden;
    margin-bottom: 20px;

}

i.bi.bi-dot::before{
    font-size: 30px;
}

.bi.bi-box-arrow-left{
    color: red;
}


.Sidebaritem.open > .sidebar-title .toggle-btn{
    transform: rotate(90deg);
}

.Sidebaritem.open > .content{
    
    height: auto;
    display:block;
    
}
.Sidebaritem.open{
    margin-bottom: 0;
}
