  
  html,
  body {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: #f4f4f4;;
    font-family: 'Mulish', sans-serif;
  }
  
  .App {
    position: relative;
  }
  li{
    list-style: none;
  }
