  
  html,
  body {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: #ededed;;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
  }
  
  .App {
    position: relative;
  }
  li{
    list-style: none;
  }
